<a href="https://colab.research.google.com/github/manishgit8834/SQL-ASSIGNMENT/blob/main/sql_assignment_work_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#/*1. Return the customer IDs of customers who have spent at least $110 with the staff
#member who has an ID of 2.*/

select *from payment
select customer_id from payment
where staff_id=2
group by customer_id
having sum(amount) >=110

In [ ]:
#/*2. How many films begin with the letter J?*/

select count(title) from film
where title like 'J%'

In [ ]:
#/*3.)What customer has the highest customer ID number whose name starts with an 'E' 
#--   and has an address ID lower than 500?*/

select * from customer
select first_name,last_name,customer_id from customer
where first_name like 'E%' and address_id < 500
order by customer_id desc